@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .page {
    @apply flex flex-col items-center justify-center w-full;
  }
  .space {
    @apply h-full mt-[18vh] mb-[12vh];
  }
  .component {
    @apply h-full py-20;
  }
  .col {
    @apply flex flex-col w-full;
  }
  .row {
    @apply flex flex-row flex-wrap items-center justify-center;
  }
  .title {
    @apply text-6xl mb-12 max-md:text-5xl;
  }

  form > div {
    @apply flex flex-col gap-2;
  }

  input,
  textarea {
    @apply shadow-md px-6 py-2 border border-slate-300;
  }
}


html, body {
  background-color: rgb(20, 20, 20);
  color: rgb(22, 22, 22);
  /* make this red */
  background-image: linear-gradient(to bottom, transparent 20%, rgb(241, 132, 132) 20%),
                    linear-gradient(to right, rgb(231, 230, 230) 20%, rgb(243, 243, 243) 20%);
  background-size: 10px 10px, 10px 10px;
  scroll-behavior: smooth;
}


